.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.image {
}
._文本段落 {
  text-align:left;
}
._二级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._图片 {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.heading_5 {
  font-family:'Source Han Sans CN Normal', 'Source Han Sans CN';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.label1 {
  font-family:'Source Han Sans CN Normal', 'Source Han Sans CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.label___ {
  font-family:'Source Han Sans CN Normal', 'Source Han Sans CN';
  font-weight:200;
  font-style:normal;
  color:#E4E4E4;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.image1 {
  color:#000000;
}
.flow_shape {
}
.vertical_line {
}
.box_11 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.box_2 {
}
._形状 {
}
.paragraph1 {
  font-family:'Source Han Sans CN Normal', 'Source Han Sans CN';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
}
._文本框 {
  color:#000000;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
._默认样式 {
}
._图片_ {
}
._水平线 {
}
.icon {
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.box_3 {
}
.box_21 {
}
.line {
}
.arrow {
}
.ellipse {
}
.sticky_1 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
.fontawesome {
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
.box_12 {
}
.box_1_white {
}
.tags {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
.line1 {
}
.text_field1 {
  color:#333333;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.link_button {
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
.box_浅灰 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.box_橙色 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.btn_空心 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
.btn_主要 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
._导航按钮 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
.fw字体图标 {
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
._文本框1 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
}
._注释 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
.heading_1_28 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
._图片1 {
  color:#000000;
}
._文本链接1 {
  color:#0000FF;
}
._垂直线 {
}
.iconfont {
  font-family:'iconfont Normal', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._形状1 {
}
._水平线1 {
}
._垂直线1 {
}
._复选框 {
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
.text_field2 {
  color:#000000;
  text-align:left;
}
.checkbox1 {
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.horizontal_line1 {
}
.heading_4_14 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._手机列表项 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.icon1 {
}
._文本框2 {
  color:#000000;
  text-align:left;
}
.table_cell {
}
textarea, select, input, button { outline: none; }
